@font-face {
    font-family: 'HalyardDisplay_font';
    src: url(./fonts/HalyardDisplay-Bold.woff);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.halyardDisplay_font {
    font-family: 'HalyardDisplay_font', sans-serif;
}
.debug{
    border: 2px solid red;
}

.container{
    max-width: 1220px;
    margin: auto;
}