@font-face {
    font-family: 'HalyardDisplay_font';
    src: url(./fonts/HalyardDisplayMedium.woff);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.halyardDisplay_font {
  font-family: 'HalyardDisplay_font', sans-serif;
}
.debug{
  border: 2px solid red;
}

.container{
    max-width: 1220px;
    margin: auto;
}

.custom-swiper-btn {
  width: 50px;
  height: 50px;
  background: #6E9EFA; /* your color */
  border-radius: 50%; /* make it round */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* remove default swiper arrow */
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    display: none !important;
}

.custom-swiper-btn::after {
  display: none;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #6E9EFA;
  color: #ffffff;
}

/* Scrolled navbar effect*/
.scrolled{
  background-color: #fff;
}

/* when scrolled th nav text should be 0f172a */
.navLinks-colored a {
  color: #0f172a;
}